[defaults]
inventory = inventories/prod.yml
private_key_file = ~/.ssh/id_ed25519
host_key_checking = false
pipelining = true
interpreter_python = /usr/bin/python3
deprecation_warnings = false
inject_facts_as_vars = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root